<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="W3LPL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <W3LPL.Properties.Settings>
            <setting name="Callsign" serializeAs="String">
                <value />
            </setting>
            <setting name="ClusterServer" serializeAs="String">
                <value>dxc.w3lpl.net:7373</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 19</value>
            </setting>
            <setting name="PortLocal" serializeAs="String">
                <value>7373</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>705, 263</value>
            </setting>
            <setting name="ReviewedSpotters" serializeAs="String">
                <value>4U1UN,2;</value>
            </setting>
            <setting name="NewSpotters" serializeAs="String">
                <value />
            </setting>
        </W3LPL.Properties.Settings>
    </userSettings>
</configuration>