<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DXClusterUtil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DXClusterUtil.Properties.Settings>
            <setting name="Callsign" serializeAs="String">
                <value />
            </setting>
            <setting name="ClusterServer" serializeAs="String">
                <value>dxc.w3lpl.net:23</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 19</value>
            </setting>
            <setting name="PortLocal" serializeAs="String">
                <value>7373</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>705, 263</value>
            </setting>
            <setting name="ReviewedSpotters" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="rttyOffset" serializeAs="String">
                <value>-600</value>
            </setting>
            <setting name="Ignore" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="HasSetDefaults" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeIntervalAfter" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="USA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cached" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Filtered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CWMinimum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimeIntervalForDump" serializeAs="String">
                <value>60</value>
            </setting>
        </DXClusterUtil.Properties.Settings>
    </userSettings>
</configuration>